<div *ngIf="viewMode; else editable">
  <div *ngIf="currentTutorial.id">
    <h4>Komentarz</h4>
    <div>
      <label><strong>Tytuł:</strong></label> {{ currentTutorial.title }}
    </div>
    <div>
      <label><strong>Treść:</strong></label>
      {{ currentTutorial.description }}
    </div>
    <div>
      <label><strong>Status:</strong></label>
      {{ currentTutorial.published ? "Opublikowano" : "Nie opublikowano" }}
    </div>

    <a
      class="badge badge-warning"
      routerLink="/tutorials/{{ currentTutorial.id }}"
    >
      Edytuj
    </a>
  </div>

  <div *ngIf="!currentTutorial">
    <br />
    <p>Kliknij w komentarz...</p>
  </div>
</div>

<ng-template #editable>
  <div *ngIf="currentTutorial.id" class="edit-form">
    <h4>Tutorial</h4>
    <form>
      <div class="form-group">
        <label for="title">Tytuł</label>
        <input
          type="text"
          class="form-control"
          id="title"
          [(ngModel)]="currentTutorial.title"
          name="title"
        />
      </div>
      <div class="form-group">
        <label for="description">Treść</label>
        <input
          type="text"
          class="form-control"
          id="description"
          [(ngModel)]="currentTutorial.description"
          name="description"
        />
      </div>

      <div class="form-group">
        <label><strong>Status:</strong></label>
        {{ currentTutorial.published ? "Opublikowany" : "Nie opublikowano" }}
      </div>
    </form>

    <button
      class="badge badge-primary mr-2"
      *ngIf="currentTutorial.published"
      (click)="updatePublished(false)"
    >
      Cofnij publikacje
    </button>
    <button
      *ngIf="!currentTutorial.published"
      class="badge badge-primary mr-2"
      (click)="updatePublished(true)"
    >
      Publikuj
    </button>

    <button class="badge badge-danger mr-2" (click)="deleteTutorial()">
      Usuń
    </button>

    <button
      type="submit"
      class="badge badge-success mb-2"
      (click)="updateTutorial()"
    >
      Zmień
    </button>
    <p>{{ message }}</p>
  </div>

  <div *ngIf="!currentTutorial.id">
    <br />
    <p>Nie ma takiego komentarza...</p>
  </div>
</ng-template>
